<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PotatoChipLog.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4CE52DA6270E9718008D5981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CE52DE6270EA09D008D5981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CE52DEB270EA0A2008D5981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CE52DF3270EA0A4008D5981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CE52DFB270EA0A5008D5981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CE52E03270EA0A7008D5981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CE52E0B270EA0AF008D5981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CE52E13270EA0B0008D5981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CE52E25270EA26F008D5981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CE52E2F270EA27B008D5981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CE52E39270EA27D008D5981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CE52E43270EA27D008D5981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CE52E4D270EA27E008D5981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CE52E57270EA27E008D5981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CE52E61270EA2C8008D5981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
