body {
    font-family: sans-serif;
}

section {
    position: relative;
    padding: 1rem;
    border-bottom: black 1px solid;
}
section > button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

blockquote {
    border-left: lightgray 0.2rem solid;
    padding-left: 1.5rem;
    color: #444;
}

table {
    border-collapse: collapse;
    border-top: gray 1px solid;
    border-left: gray 1px solid;
}

tr {
    border-bottom: gray 1px solid;
}

td {
    border-right: gray 1px solid;
}

thead {
    font-weight: bold;
}

thead > tr:nth-child(1) > td:nth-child(3) {
    text-align: center;
}

td {
    min-width: 3rem;
}

td._1 {
    background-color: lightsalmon;
}

td._2 {
    background-color: lightgreen;
}

td._3 {
    background-color: lightpink;
}